<div class="row-fluid">
  <button class="btn-primary pull-right"><%= link_to 'New Project', new_project_path, class:"btn-primary" %></button>
  <div class="page-header">
    <h1>Projects</h1>
  </div>
</div>
<div class="row-fluid">
  <table>
    <thead>
      <tr>
        <th class="col-md-3"><h2>Name</h2><hr></th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
      <tr>
        <td class="col-md-3"><h4><%= link_to project.name, project_path(project) %></h4><hr></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
