<div class="row">
  <div class="col-md-1">
    <h1>About</h1>
  </div>

</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "people.jpg", class: "img-responsive" %>
  </div>
  <div class="col-md-6">

    <p>We are dedicated to the makers, the creators, the risk-takers.  We wake up in the middle of the night and furiously write down ideas about how to make your online life better.</p>
    <p>When we're not hard at work, we're hard at play - we're the loud ones in the bar, and we're always the ones shutting the place down.  Human communication and collaboration is what drives us, and it infuses every feature of gCamp.</p>

  </div>
</div>
