<h1>Frequently Asked Questions</h1>

 <h3>What is gCamp?</h3>
<p>
  <%= @faq_class.answer("What is gCamp?") %>
</p>

<h3>How do i join gCamp?</h3>

<p>
  <%= @faq_class.answer("How do i join gCamp?") %>
</p>

<h3>When will gCamp be finished?</h3>

<p>
  <%= @faq_class.answer("When will gCamp be finished?") %>
</p>
