<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <a class="navbar-brand" href="#">Brand</a>
</nav>

<div class="jumbotron">
  <h1>gCamp</h1>
  <p>Your life, organized.</p>
  <p></p>
</div>


<br/>
<div class="row">
  <div class="col-md-4">
    <img src="http://beautifulplacestovisit.com/wp-content/uploads/2011/04/Grand_Teton-National_Park_Wyoming1.jpg" class="img-responsive">
    <br/>
    <div class="panel panel-primary">
      <div class="panel-heading">Panel heading</div>
      <div class="panel-body">
        Tasks
      </div>
    <div class="panel-footer">Panel footer</div>
    </div>
  </div>
  <div class="col-md-4">
    <img src="http://beautifulplacestovisit.com/wp-content/uploads/2011/04/Grand_Teton-National_Park_Wyoming1.jpg" class="img-responsive">
    <br/>
    <div class="panel panel-primary">
      <div class="panel-heading">Panel heading</div>
      <div class="panel-body">
        Documents
      </div>
    <div class="panel-footer">Panel footer</div>
    </div>
  </div>
  <div class="col-md-4">
    <img src="http://beautifulplacestovisit.com/wp-content/uploads/2011/04/Grand_Teton-National_Park_Wyoming1.jpg" class="img-responsive">
    <br/>
    <div class="panel panel-primary">
      <div class="panel-heading">Panel heading</div>
      <div class="panel-body">
        Comments
      </div>
    <div class="panel-footer">Panel footer</div>
    </div>
  </div>
</div>
