<div class="jumbotron">
  <h1>gCamp</h1>
  <p>Your life, organized.</p>
  <p></p>
</div>


<br/>
<div class="row">
  <div class="col-md-4">
    <img src="http://beautifulplacestovisit.com/wp-content/uploads/2011/04/Grand_Teton-National_Park_Wyoming1.jpg" class="img-responsive">
    <br/>
    <div class="panel panel-primary">
      <div class="panel-heading">Tasls</div>
      <div class="panel-body">
        <p>Grouped by projects and lists. Just the way you like'em</p>
        <br/>
        <br/>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <img src="http://beautifulplacestovisit.com/wp-content/uploads/2011/04/Grand_Teton-National_Park_Wyoming1.jpg" class="img-responsive">
    <br/>
    <div class="panel panel-primary">
      <div class="panel-heading">Documents</div>
      <div class="panel-body">
        <ul>
          <li>Upload</li>
          <li>Comment</li>
          <li>Revise</li>
          <br/>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <img src="http://beautifulplacestovisit.com/wp-content/uploads/2011/04/Grand_Teton-National_Park_Wyoming1.jpg" class="img-responsive">
    <br/>
    <div class="panel panel-primary">
      <div class="panel-heading">Comments</div>
      <div class="panel-body">
        <ul>
          <li>Comment on tasks and documents</li>
          <li>Get email notifications</li>
          <br/>
          <br/>
        </ul>
      </div>
    </div>
  </div>
</div>
<ul>
  <% @quotes.transpose.each do |x| %>
  <li><%= x[0] %></li>
  <%= x[1] %>
<% end %>

</ul>
