<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <a class="navbar-brand" href="#">Brand</a>
</nav>

<div class="jumbotron">
  <h1>gCamp</h1>
  <p>Your life, organized.</p>
  <p></p>
</div>


<div class="row">
  <div class="col-md-4">PHOTO GOES HERE</div>
  <div class="col-md-4">PHOTO GOES HERE</div>
  <div class="col-md-4">PHOTO GOES HERE</div>
</div>


<div class="row">
  <div class="col-md-4">TASKS</div>
  <div class="col-md-4">DOCUMENTS</div>
  <div class="col-md-4">COMMENTS</div>
</div>
